<div class="flex" style="gap: 30px;" *ngIf="heroe; else heroeLoading">
  <div class="flex flex-column flex-1 flex-center">
    <h1>{{ heroe.superhero }} <small>- {{ heroe.alter_ego }}</small></h1>
    <mat-divider></mat-divider><br>
    <img [src]="heroe | imagen | async">
  </div>
  <div class="flex flex-column flex-1">
    <h1>{{ heroe.publisher }}</h1>
    <mat-divider></mat-divider><br>

    <mat-list>
      <mat-list-item><b>Primera apairición: </b>{{ heroe.first_appearance }}</mat-list-item>
      <mat-list-item><b>Personajes: </b>{{ heroe.characters }}</mat-list-item>
      <mat-list-item><b>Marca: </b>{{ heroe.publisher }}</mat-list-item>
      <mat-list-item><b>Alter Ego: </b>{{ heroe.alter_ego }}</mat-list-item>
    </mat-list>
    <br>

    <button mat-button color="warn" routerLink="/heroes">Regresar</button>
  </div>
</div>

<ng-template #heroeLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
