<h1>Pipes Básicos</h1>
<p>Pipes incluídos en Angular - Common.</p>

<div class="grid">
  <p-card class="col" [header]="'Default'">
    <p>{{ nombreLower }}</p>
    <p>{{ nombreUpper }}</p>
    <p>{{ nombreCompleto }}</p>
  </p-card>
  <p-card class="col" [header]="'uppercase' | uppercase">
    <p>{{ nombreLower | uppercase }}</p>
    <p>{{ nombreUpper | uppercase }}</p>
    <p>{{ nombreCompleto | uppercase }}</p>
  </p-card>
  <p-card class="col" [header]="'lowercase' | lowercase">
    <p>{{ nombreLower | lowercase }}</p>
    <p>{{ nombreUpper | lowercase }}</p>
    <p>{{ nombreCompleto | lowercase }}</p>
  </p-card>
  <p-card class="col" [header]="'titlecase' | titlecase">
    <p>{{ nombreLower | titlecase }}</p>
    <p>{{ nombreUpper | titlecase }}</p>
    <p>{{ nombreCompleto | titlecase }}</p>
  </p-card>
</div>

<h1>Date | Fecha</h1>
<p>Pipe para mostrar las fechas.</p>

<div class="grid">
  <p-card class="col-4">
    <ul>
      <li>fecha</li>
      <li>fecha | date</li>
      <li>fecha | date:'short'</li>
      <li>fecha | date:'medium'</li>
      <li>fecha | date:'long'</li>
      <li>fecha | date:'fullDate'</li>
      <li>fecha | date:'shortDate'</li>
      <li>fecha | date:'MM'</li>
      <li>fecha | date:'MMMM'</li>
      <li>fecha | date:'YYYY'</li>
    </ul>

    <hr>

    <ul>
      <li>fecha | date:'long':'GMT-5'</li>
      <li>fecha | date:'long':'GMT-4'</li>
    </ul>

    <hr>

    <ul>
      <li>fecha | date:'long':'':'es-ar'</li>
      <li>fecha | date:'long':'':'en'</li>
      <li>fecha | date:'long':'':'fr'</li>
    </ul>
  </p-card>
  <p-card class="col-8">
    <ul>
      <li>{{ fecha }}</li>
      <li>{{ fecha | date }}</li>
      <li>{{ fecha | date:'short' }}</li>
      <li>{{ fecha | date:'medium' }}</li>
      <li>{{ fecha | date:'long' }}</li>
      <li>{{ fecha | date:'fullDate' }}</li>
      <li>{{ fecha | date:'shortDate' }}</li>
      <li>{{ fecha | date:'MM' }}</li>
      <li>{{ fecha | date:'MMMM' }}</li>
      <li>{{ fecha | date:'YYYY' }}</li>
    </ul>

    <hr>

    <ul>
      <li>{{ fecha | date:'long':'GMT-5' }}</li>
      <li>{{ fecha | date:'long':'GMT-4' }}</li>
    </ul>

    <hr>

    <ul>
      <li>{{ fecha | date:'long':'':'es-ar' }}</li>
      <li>{{ fecha | date:'long':'':'en' }}</li>
      <li>{{ fecha | date:'long':'':'fr' }}</li>
    </ul>
  </p-card>
</div>
