<h1>{{ heroe.id ? "Héroe" : "Nuevo Héroe" }}: <small>{{ heroe.superhero }}</small></h1>
<mat-divider></mat-divider><br>

<div fxLayout="column-reverse" fxLayout.gt-xs="row" fxLayoutGap="40px" fxLayoutAlign="center" style="margin: 20px;">
  <div fxFlex fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="column" fxLayoutGap="0px" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="20px">
      <mat-form-field fxFlex>
        <mat-label>Super Héroe</mat-label>
        <input type="text" [(ngModel)]="heroe.superhero" matInput required>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Alter Ego</mat-label>
        <input type="text" [(ngModel)]="heroe.alter_ego" matInput required>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Primera Aparición</mat-label>
      <input type="text" [(ngModel)]="heroe.first_appearance" matInput required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Personajes</mat-label>
      <input type="text" [(ngModel)]="heroe.characters" matInput required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Creador</mat-label>
      <mat-select [(ngModel)]="heroe.publisher" required>
        <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">{{ publisher.description }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Foto URL</mat-label>
      <input type="url" [(ngModel)]="heroe.alt_img" matInput>
    </mat-form-field>

    <div fxFlex="10" fxLayoutGap="10px" fxLayoutAlign="flex-end center">
      <button fxFlex mat-raised-button color="primary" (click)="guardarHeroe()">
        <mat-icon>edit</mat-icon>
        Guardar
      </button>

      <button mat-raised-button color="warn" *ngIf="heroe.id" (click)="eliminarHeroe(heroe.id)">
        <mat-icon>remove</mat-icon>
        Borrar
      </button>
    </div>
  </div>
  <div fxFlex fxLayoutAlign="center center">
    <img [src]="heroe | imagen | async">
  </div>
</div>
