<h1>Pipes no tan comunes</h1>
<p>Pipes incluídos en Angular - Common.</p>

<div class="grid">
  <p-fieldset class="col md:col-6" legend="i18nSelect Pipe" [toggleable]="true">
    <p>Saludos {{ invitados[invitadoSelect].nombre }}, es un placer {{ invitados[invitadoSelect].genero | i18nSelect:invitacionMap }} a nuestro evento.</p>
    <p-button styleClass="p-button-help" label="Cambiar Invitado" (click)="changeInvitado()"></p-button>
  </p-fieldset>
  <p-fieldset class="col md:col-6" legend="i18nPlural Pipe" [toggleable]="true">
    <p>Actualmente {{ clientes.length | i18nPlural:clientesMap }} esperando</p>

    <p-button styleClass="p-button-help" label="Borrar Clientes" (click)="deleteClient()"></p-button>
    <p-button styleClass="p-button-danger" label="Borrar Clientes" (click)="resetClients()"></p-button>
  </p-fieldset>
</div>
