
<mat-sidenav-container fullscreen>
  <mat-sidenav-content fxFlex fxLayout="column" fxLayoutAlign="center center">
    <mat-toolbar>
      <span>HeroesAPP</span>
    </mat-toolbar>

    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input type="text" matInput [(ngModel)]="user.usuario">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="login()">Ingresar</button>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
