<h2>Reactive: <small>Dinámicos</small></h2><hr>

<form autocomplete="off" [formGroup]="form" (submit)="guardar()">
  <div class="mb-3 row">
    <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input type="text" id="nombre" name="nombre" formControlName="nombre" class="form-control" placeholder="Nombre de la Persona">
      <span class="form-text text-danger" *ngIf="campoNoEsValido('nombre')">Este campo es Obligatorio</span>
    </div>
  </div>

  <div class="mb-1 row">
    <label for="agregar" class="col-sm-3 col-form-label">Juegos favoritos</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="text" id="agregar" name="agregar" [formControl]="nuevoFavorito" class="form-control" placeholder="Juego favorito" (keyup.enter)="agregarFavorito()">
        <button type="button" class="btn btn-outline-primary" (click)="agregarFavorito()">Agregar</button>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-9 offset-sm-3" formArrayName="favoritos">
      <div class="input-group mb-1" *ngFor="let favorito of favoritos.controls; let i = index;">
        <input type="text" class="form-control" name="favorito_0" [formControlName]="i">
        <button type="button" class="btn btn-outline-danger" (click)="borrarFavorito(i)">Borrar</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-success float-end" (click)="guardar()">Guardar</button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col">
    <span>$Valid</span>
    <pre>{{ form.valid | json }}</pre>

    <span>$Value</span>
    <pre>{{ form.value | json }}</pre>
  </div>
</div>
