<h1>Buscador de Héroes</h1>
<mat-divider></mat-divider><br>

<div class="flex flex-column">
  <mat-form-field>
    <mat-label>Number</mat-label>
    <input type="text" placeholder="Pick one" matInput [(ngModel)]="termino" (input)="buscando()"
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="opcionSeleccionada($event)">
      <mat-option *ngFor="let heroe of heroes" [value]="heroe.superhero">
        {{ heroe.superhero }}
      </mat-option>
      <mat-option disabled *ngIf="siNoTieneResultados()">
        No se encontró nada con el término: <code>{{ termino }}</code>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <pre>{{ heroe | json }}</pre>
</div>
