/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.flex{
    display: flex;

    &-1{ flex: 1; };

    &-column{ flex-direction: column; };
    &-row{ flex-direction: row; };
    &-column-reverse{ flex-direction: column-reverse; };
    &-row-reverse{ flex-direction: row-reverse; };

    &-align-center{ align-items: center; };
    &-align-start{ align-items: flex-start; };
    &-align-end{ align-items: flex-end; };
    &-align-stretch{ align-items: stretch; };

    &-center{ justify-content: center; };
    &-start{ justify-content: flex-start; };
    &-end{ justify-content: flex-end; };
    &-around{ justify-content: space-around; };
    &-between{ justify-content: space-between; };
    &-evenly{ justify-content: space-evenly; };

    &-wrap{ flex-wrap: wrap; };
};

img {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    margin: auto;
    border-radius: 8px;
};