<h1>Agregar Producto</h1>
<hr>

<form class="row g-3 mb-3 align-items-center" [formGroup]="form" [ngClass]="validClassForm">
    <div class="col">
        <label class="form-label">First name</label>
    </div>
    <div class="col">
      <input type="text" class="form-control" formControlName="name" required>
    </div>
    <div class="col">
      <span *ngIf="form.get('name')?.invalid" error-msg [color]="color"></span>
      
    </div>

    <div class="col-12">
      <button class="btn btn-warning" (click)="updateColor()">Actualizar Color</button>
      <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
</form>

<h3 class="mt-5">Formulario:</h3>
<pre>Valid: {{ form.valid }}</pre>
<pre>Value: {{ form.value | json }}</pre>

<div class="row mt-5" *customIf="!form.get('name')?.invalid">
  <div class="col">
    <div class="alert alert-primary">
      Todo OK!
    </div>
  </div>
</div>