<div class="mapa-wrapper" #mapa></div>

<div class="row">
    <div class="col-12">
        <label class="form-label">Zoom: {{ zoomLevel | number:'2.0-2' }} - Lng,Lat: [{{ center[0] | number:'2.4-4' }}, {{ center[1] | number:'2.4-4' }}]</label>
        <input type="range" class="form-range" [value]="zoomLevel" min="0" max="18" (input)="updateZoom(zoomInput.value)" #zoomInput>
    </div>
    <div class="col-12 d-flex justify-content-between">
        <button class="btn btn-primary" (click)="zoom('out')"><i class="bi-dash"></i></button>
        <button class="btn btn-primary" (click)="zoom('in')"><i class="bi-plus"></i></button>
    </div>
</div>