<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
  <div class="col">
    <app-personajes [personajes]="personajes"></app-personajes>
  </div>
  <div class="col">
    <h3>Agregar <small>{{ nuevo.nombre }}</small></h3>
    <hr>
    <form (submit)="agregar()">
      <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="nuevo.nombre"> <!-- [value]="nuevo.nombre" (input)="cambiarNombre($event)" -->
      <input type="number" name="poder" placeholder="Poder" [(ngModel)]="nuevo.poder">
      <button type="submit">Agregar</button>
    </form>
  </div>
</div>
