<div class="animate__animated animate__fadeIn">
  <h2>Por Pais</h2>
  <hr>

  <app-pais-input class="row" (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)" placeholder="Buscar Pais..."></app-pais-input>

  <ul class="list-group" *ngIf="showSugerencias">
    <li class="list-group-item list-group-item-action" *ngFor="let pais of paisesSugeridos">
      <a class="nav-link p-0 d-flex align-items-center" [routerLink]="['/pais', pais.cca2]">
        <img [src]="pais.flags.png" [alt]="pais.altSpellings.join(', ')" class="me-2">
        <span>{{ pais.name.common }}</span>
      </a>
    </li>
  </ul>
  <hr>

  <div class="alert alert-danger" *ngIf="hasError">No se encontró nada con el término {{ termino | uppercase }}</div>

  <app-pais-tabla class="row" *ngIf="paises.length > 0" [paises]="paises" ></app-pais-tabla>
</div>
