<h1 class="mt-5">Selectores anidados</h1>
<hr>

<form [formGroup]="form" class="d-flex flex-column gap-2" (ngSubmit)="guardar()">
  <div class="row">
    <div class="col">
      <div class="form-label">Continente:</div>
      <select class="form-control" formControlName="region">
        <option value="" disabled selected>-- Seleccione Continente --</option>
        <option *ngFor="let region of regiones" [value]="region | lowercase">{{ region }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-label">Pais:</div>
      <select class="form-control" formControlName="pais">
        <option value="" disabled selected>-- Seleccione País --</option>
        <option *ngFor="let pais of paises" [value]="pais.cca3">{{ pais.translations['spa'] ? pais.translations['spa'].common : pais.name.common }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-label">Frontera:</div>
      <select class="form-control" formControlName="frontera">
        <option value="" disabled selected>-- Seleccione Frontera --</option>
        <option *ngFor="let frontera of fronteras" [value]="frontera.cca3">{{ frontera.translations['spa'] ? frontera.translations['spa'].common : frontera.name.common }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary float-end">Seleccionar</button>
    </div>
  </div>
</form>


<h3>Formulario</h3>
<pre>Valid: {{ form.valid | json }}</pre>
<pre>{{ form.value | json }}</pre>
