<h2>Validaciones Reactivas</h2><hr>

<div class="row">
  <div class="col">
    <form [formGroup]="form" (submit)="guardar()">
      <div class="row mb-3">
        <label for="name" class="col-sm-3 col-form-label" form="name">Name</label>
        <div class="col-sm-9">
          <input type="text" id="name" name="name" class="form-control" formControlName="name" placeholder="Nombre completo">
          <span class="form-text text-danger" *ngIf="hasErrors('name', 'required')">El campo es Obligatorio</span>
          <span class="form-text text-danger" *ngIf="hasErrors('name', 'pattern')">Debe contener Nombre y Apellido</span>
        </div>
      </div>

      <div class="row mb-3">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" id="email" name="email" class="form-control" formControlName="email" placeholder="Correo Electrónico">
          <span class="form-text text-danger" *ngIf="hasErrors('email', 'required')">El campo es Obligatorio</span>
          <span class="form-text text-danger" *ngIf="hasErrors('email', 'pattern')">Debe ser un email Valido</span>
          <span class="form-text text-danger" *ngIf="hasErrors('email', 'emailTomado')">Ya existe ese email registrado</span>
        </div>
      </div>

      <div class="row mb-3">
        <label for="username" class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input type="text" id="username" name="username" class="form-control" formControlName="username" placeholder="Nombre de Usuario">
          <span class="form-text text-danger" *ngIf="hasErrors('username', 'required')">El campo es Obligatorio</span>
          <span class="form-text text-danger" *ngIf="hasErrors('username', 'noAdmin')">El campo no puede ser <code>admin</code></span>
        </div>
      </div>

      <div class="row mb-3">
        <label for="password" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" id="password" name="password" class="form-control" formControlName="password" placeholder="Contraseña">
          <span class="form-text text-danger" *ngIf="hasErrors('password', 'required')">El campo es Obligatorio</span>
          <span class="form-text text-danger" *ngIf="hasErrors('password', 'minlength')">La contraseña debe contener al menos 6 caracteres</span>
        </div>
      </div>

      <div class="row mb-3">
        <label for="password_confirm" class="col-sm-3 col-form-label">Confirm</label>
        <div class="col-sm-9">
          <input type="password" id="password_confirm" name="password_confirm" class="form-control" formControlName="password_confirm" placeholder="Confirmar contraseña">
          <span class="form-text text-danger" *ngIf="hasErrors('password_confirm', 'noiguales')">La contraseñas no coinciden</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-success float-end">Registrarme</button>
        </div>
      </div>
    </form>
  </div>
</div>

<span>$Valid</span>
<pre>{{ form.valid | json }}</pre>
<span>Value</span>
<pre>{{ form.value | json }}</pre>
<span>Password</span>
<pre>{{ form.errors | json }}</pre>
<pre>{{ form.controls["email"].errors | json }}</pre>
